<h1><%= @user.full_name %></h1>
<%= image_tag "#{@user.photo}", :size => "220x180"%>
<br>
<br>
User name: <%= @user.user_name %>
<br>
<br>
Email: <%= @user.email %>
<br>
<br>
The List of My Matches:
<%@users.each do |us| %>
<p><%= us.full_name  %></p>
<% end %>
